
.button {
    margin: 20px 0 0 42%;
    display: flex;
    flex-direction: row;
}

.plus {
    height:32px;
    display: flex;
    margin-right: 15px;
}

.plus:hover {
    opacity: 0.1;
    transition: all 0.4s;
}

.input {
    min-width: 260px;
    height: 34px;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {

    .button{
        margin-left: 10%;
    }

}

@media screen and (min-width: 800px) {

    .button{
        margin: 20px 0 0 42%;
        display: flex;
        flex-direction: row;
    }

}