.list {
    width: 80%;
    background-color: #2c2c54;
    min-height: 40px;
    display: flex;
    justify-items: center;
    margin: 3% 0 0 10%;
    border: 1px solid #f7f1e3;

}

.quote {
    font-size: 22px;
    color:#fff;
    margin:3px;
    text-align: center;
    margin:0 auto;
    padding-top: 7px;
    
}